<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Shipping service</a>
    </div>
</div>

<div>
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="tracking">
                <span class="oi oi-eye" aria-hidden="true"></span> Tracking
            </NavLink>
        </div>
        <AuthorizeView Roles="Sender">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="shipment">
                    <span class="oi oi-plus" aria-hidden="true"></span> Shipment
                </NavLink>
            </div>
        </AuthorizeView>
        <AuthorizeView Roles="Courier">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="Courier">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Courier
                </NavLink>
            </div>
        </AuthorizeView>
    </nav>
</div>
