@inject NavigationManager NavigationManager
@inject ILogger<ShipmentsList> _logger

@if (Shipments != null)
{
    if (Shipments.Any())
    {
        <h3>List of shipments:</h3>
        foreach (var shipment in Shipments)
        {
            <button class="btn btn-primary"
                    @onclick="@(e => navigateToShipment(shipment.Id))">
                @shipment.Title
            </button>
            <br/>
        }
    }
    else
    {
        <h3>No shipments to display</h3>
    }
}

@code {

    [Parameter]
    public IEnumerable<Shipment> Shipments { get; set; }


    public void navigateToShipment(long id)
    {

        _logger.LogInformation("User: {0} ;Rights: {1}; Time: {2}, Method: {3}", "","", DateTime.UtcNow, nameof(navigateToShipment));
        try
        {
            NavigationManager.NavigateTo($"shipment/{id}");
        }
        catch (Exception ex)
        {
            _logger.LogWarning("User: {0} ;Rights: {1}; Time: {2}, Method: {3}", "","", DateTime.UtcNow, nameof(navigateToShipment));
        }
    }

}
