@page "/shipment"
<PageTitle>Shipment main page</PageTitle>

<h4>Shipment main page</h4>

<NavLink class="btn btn-primary" href="@RegisterShipmentUrl">Register a shipment</NavLink>

@code {
        const string RegisterShipmentUrl = "/shipment/registration";
}