@page "/shipment/registration"

<h3>Shipment registration</h3>

@code {

    [Inject]
    public ISenderRepository SenderRepository { get; set; }

    [Inject]
    public IShipmentRepository PackageRepository { get; set; }

    [Inject]
    public IPostMachineRepository PostMachineRepository { get; set; }

    public Shipment Shipment { get; set; }
    public IEnumerable<PostMachine> PostMachines { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Shipment = new Shipment();
        await RetrievePostMachines();
    }

    public async Task RetrievePostMachines()
    {
        PostMachines = await PostMachineRepository.GetAsync();
    }

    public async void CreateShipment()
    {
        await PackageRepository.CreateAsync(Shipment);
    }

}