@page "/tracking"
@inject NavigationManager navigationManager
@using System.ComponentModel.DataAnnotations

<h3>Tracking page</h3>
<input @bind="trackingCode"></input>
<button class="btn btn-primary" @onclick="TrackShipment">Track Shipment</button>

@code {
    const string ShipmentTrackingUrl = "/tracking/shipment/";
    string trackingCode = "";

    protected override async Task OnInitializedAsync()
    {

    }

    private void TrackShipment()
    {
        if(string.IsNullOrEmpty(trackingCode)){
            return;
        }

        navigationManager.NavigateTo(ShipmentTrackingUrl + trackingCode);
    }
}
