@page "/tracking"
@inject NavigationManager NavigationManager

<h3>Shipment tracking page</h3>
<input @bind="_trackingCode" class="form-input" placeholder="Enter tracking code">
<button class="btn btn-primary" @onclick="TrackShipment">Track Shipment</button>

@code {
    const string ShipmentTrackingUrl = "/tracking/shipment/";
    string _trackingCode = "";

    protected override async Task OnInitializedAsync()
    {

    }

    void TrackShipment()
    {
        if(string.IsNullOrEmpty(_trackingCode)){
            return;
        }

        NavigationManager.NavigateTo(ShipmentTrackingUrl + _trackingCode);
    }
}
