@page "/tracking"
@inject NavigationManager NavigationManager
@using System.ComponentModel.DataAnnotations


<h3>Shipment tracking page</h3>

<EditForm Model="@trackingCode" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <InputText id="trackingCode" @bind-Value="trackingCode.code" placeholder="Enter tracking code."/>
    <ValidationMessage For="@(() => trackingCode.code)"/><br/>
    <button type="submit">Track shipment</button>
</EditForm>

@code {
    const string ShipmentTrackingUrl = "/tracking/shipment/";

    TrackingCode trackingCode { get; set; }

    protected override async Task OnInitializedAsync()
    {
        trackingCode = new TrackingCode();
    }

    async void HandleValidSubmit(){
        NavigationManager.NavigateTo(ShipmentTrackingUrl + trackingCode.code);   
    }

    public class TrackingCode
    {
        [Required]
        [RegularExpression (@"^([0-9]+)-([A-Za-z0-9-_]{4})$", ErrorMessage="Not a valid tracking code.")]
        public string? code {get; set;}
    }
}
