@page "/courier"
@attribute [Authorize]
<PageTitle> Courier main page</PageTitle>
@inject NavigationManager NavigationManager
<h4> Courier main page</h4>

<NavLink class="btn btn-primary" href="@SearchAvailableShipmentsUrl">
    Available shipments
</NavLink>

<ShipmentsList Shipments="Shipments"></ShipmentsList>

@code {

    [CascadingParameter]
    private Task<AuthenticationState> authStateTask {get; set;}
    [Inject]
    public IShipmentRepository ShipmentRepository { get; set; }

    public IEnumerable<Shipment> Shipments { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var authState = await authStateTask;
        var username = authState.User.Identities.First().Name;
        Shipments = ShipmentRepository.Shipments.
            Where(s => s.Courier.Username == username && 
                       (s.Status == ShipmentStatus.InSourcePostMachine || 
                        s.Status == ShipmentStatus.Shipping)
                );
    }

    
    public void navigateToShipment(long id)
    {
        NavigationManager.NavigateTo($"shipment/{id}");
    }

    public string SearchAvailableShipmentsUrl = "/courier/available-shipments";
}