@inject shipping_service.Models.TokenProvider _tokenProvider;
<AuthorizeView>
    <Authorized>
        <p>Hello, <a href="/account/manage">@context.User.Identity?.Name!</a></p>
        <form method="post" action="/logout">
            <input name="__RequestVerificationToken" type="hidden" value="@_tokenProvider.AntiForgeryToken" />
            <button type="submit" class="nav-link btn btn-link">Log out</button>
        </form>
    </Authorized>
    <NotAuthorized>
        <a href="register">Register</a>
        <a href="Login">Log in</a>
    </NotAuthorized>
</AuthorizeView>
